<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trip_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trip_application">
        <activity android:name=".activities.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Activity_Base" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_keys" />

        <activity android:name=".activities.Activity_Comment" />
        <activity android:name=".activities.Activity_Add_Place" />
        <activity android:name=".activities.Activity_Description" />
        <activity android:name=".activities.Activity_List_Places" />
        <activity android:name=".activities.Activity_Search_Places" />
        <activity android:name=".activities.Activity_Login">
        </activity>
    </application>

</manifest>